# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.venv/

# environment variables
.env

# IDE
.vscode/
.idea/

# Data & outputs (if any)
data/
outputs/
*.csv

# Jupyter
.ipynb_checkpoints/
